<section layout="row" flex>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <div class="ui styled accordion">
      <div class="title" ui-sref="wspms.list">
        bookmark<i class="dropdown icon"></i>
      </div>
      <div class="content">
        <span>
          <h4 class="md-primary">
            <p>
              edit
            </p>
          </h4>
        </span>
      </div>
        <div class="title" ui-sref="wspms.photo">
          photo<i class="dropdown icon"></i>
        </div>
        <div class="content">
          <span>
            <p>
              2015-10
            </p>
            <p>
              2015-09
            </p>
            <p>
              2015-08
            </p>
          </span>
        </div>
        <div class="title">
          ToDo<i class="dropdown icon"></i>
        </div>
        <div class="content">
          <span>
            <p>
              SOS
            </p>
            <p>
              Done
            </p>
          </span>
        </div>
        <div class="title">
          Diary<i class="dropdown icon"></i>
        </div>
        <div class="content">
          <span>
            <p>
              2015-09
            </p>
            <p>
              2015-10
            </p>
          </span>
        </div>
    </div>

  </md-sidenav>
  <md-content flex layout-padding>
    <div flex layout="column" layout-align="start center" ui-view="content">

    </div>
  </md-content>
</section>
