<section layout="row" flex>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <div class="ui styled accordion">
      <div class="title" ui-sref="wspms.list">
        account<i class="dropdown icon"></i>
      </div>
      <div class="content">
        <span>
          <h4 class="md-primary">
            <p>
              edit
            </p>
          </h4>
        </span>
      </div>
      <div ng-show="!account.admin">

        <div class="title">
          service order<i class="dropdown icon"></i>
        </div>
        <div class="content">
          <span>
            <p>
              web NO.
            </p>
            <p>
              ERP NO.
            </p>
            <p>
              ERP order create
            </p>
            <p>
              ERP order transmit
            </p>
            <p>
              ERP order onvaild
            </p>
          </span>
        </div>
        <div class="title">
          Device status<i class="dropdown icon"></i>
        </div>
        <div class="content">
          <span>
            <p>
              Log
            </p>
            <p>
              usage
            </p>
          </span>
        </div>
        <div class="title">
          VSIM rule<i class="dropdown icon"></i>
        </div>
        <div class="content">
          <span>
            <p>
              TBD
            </p>
            <p>
              TBD
            </p>
          </span>
        </div>
        <div class="title">
          Apps. upgrade<i class="dropdown icon"></i>
        </div>
        <div class="content">
          <span>
            <p>
              TBD
            </p>
            <p>
              TBD
            </p>
          </span>
        </div>
      </div>
    </div>

  </md-sidenav>
  <md-content flex layout-padding>
    <div flex layout="column" layout-align="start center" ui-view="content">

    </div>
  </md-content>
</section>
