<div class="ui link cards">
        <div class="card">
          <div class="image">
            <img src="/app/image/1.JPG">
          </div>
          <div class="content">
            <div class="header">Golden Gate Bridge</div>
            <div class="meta">
              <a>San Francisco</a>
            </div>
            <div class="description">
              It's cloudy :(
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              2015-08-10
            </span>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="/app/image/2.JPG">
          </div>
          <div class="content">
            <div class="header">The Venetian</div>
            <div class="meta">
              <span class="date">Las Vegas</span>
            </div>
            <div class="description">
              My dreamed hotel. Finally, I spent 2 nights there.
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              2015-08-10
            </span>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="/app/image/3.JPG">
          </div>
          <div class="content">
            <div class="header">In-N-Out</div>
            <div class="meta">
              <a>Barstow</a>
            </div>
            <div class="description">
              Remember to order the animal types flavor
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              2015-08-12
            </span>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="/app/image/4.JPG">
          </div>
          <div class="content">
            <div class="header">Yosemite</div>
            <div class="meta">
              <a>Mariposa</a>
            </div>
            <div class="description">
              My wallpaper on my MacBook Pro
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              2015-08-15
            </span>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="/app/image/5.JPG">
          </div>
          <div class="content">
            <div class="header">Grand Canyon</div>
            <div class="meta">
              <a>Arizona</a>
            </div>
            <div class="description">
              It takes 3 hours to bring us there
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              2015-08-17
            </span>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="/app/image/6.JPG">
          </div>
          <div class="content">
            <div class="header">Disneyland</div>
            <div class="meta">
              <a>California</a>
            </div>
            <div class="description">
              California Adventure
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              2015-08-19
            </span>
          </div>
        </div>
      </div>
