<span layout="row" flex="10" layout-fill layout-align="end center">
  <div ng-click="addUser($event)">
    <i class='fa'><i class="plus icon"></i>add</i>
  </div>
</span>
<div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="header">Demo Video</div>
      <div class="description">
        Before 2015-10-25
      </div>
    </div>
    <div class="ui bottom attached button">
      <i class="checkmark icon"></i>
      Done
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">OS HW1</div>
      <div class="description">
        ex 1.4 1.5 1.7</br>
        ex 2.16 2.24</br>
        ex 3.14* 3.20*
      </div>
    </div>
    <div class="ui bottom attached button">
      <i class="checkmark icon"></i>
      Done
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">CSD HW2</div>
      <div class="description">
        Load File</br>
        Read File</br>
        Error ctrl</br>
      </div>
    </div>
    <div class="ui bottom attached button">
      <i class="checkmark icon"></i>
      Done
    </div>
  </div>
</div>
