@charset "UTF-8";
/* CSS Document - By Away
    http://www.dfuns.idv.tw */

.box{
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(http://attachment.van698.com/forum/201308/30/1027217oxetdtrarqir9i0.png);
    -webkit-transition: background 1.5s linear;
    -moz-transition: background 1.5s linear;
    -o-transition: background 1.5s linear;
    -ms-transition: background 1.5s linear;
    transition: background 1.5s linear;

}
    
.box:hover{
    background-image: url(http://a0.att.hudong.com/61/36/01200000194917136323362702423.jpg);
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}